.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
	text-align: center;
	align-items: center;
	 font-family: "Papyrus", Fantasy;
}

h1 {
	font-family: Helvetica, sans-serif;
}

.footer {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 20px;
        height: 100px;

}

